<a href="https://colab.research.google.com/github/Aldistwn29/Data_analysis/blob/main/Booking_Hotel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# library
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/hotel_bookings.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,arrival,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,7,27,1,01/07/2015,0,0,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01/07/2015
1,Resort Hotel,0,737,2015,7,27,1,01/07/2015,0,0,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01/07/2015
2,Resort Hotel,0,7,2015,7,27,1,01/07/2015,0,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02/07/2015
3,Resort Hotel,0,13,2015,7,27,1,01/07/2015,0,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02/07/2015
4,Resort Hotel,0,14,2015,7,27,1,01/07/2015,0,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03/07/2015

# Cleaning data

In [17]:
df.shape

(119390, 33)

In [83]:
# menghapus missing veleus
missing_values = df.isnull().sum()
print(f"missing values: {missing_values}")

missing values: hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
arrival                                0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [84]:
# menghapus missing values
clean_df = df.dropna()
print(f"missing values: {clean_df.isnull().sum()}")

missing values: hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
arrival                           0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [85]:
# melihat nilai yg duplikat
print(f"duplikat: {clean_df.duplicated().sum()}")

# menghapus duplikat
clean_df = clean_df.drop_duplicates()
print(f"data yg sudah di hapus duplikatnya: {clean_df.duplicated().sum()}")

duplikat: 28
data yg sudah di hapus duplikatnya: 0

In [32]:
clean_df.shape

(189, 33)

In [97]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189 entries, 2392 to 116451
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           189 non-null    object
 1   is_canceled                     189 non-null    int64
 2   lead_time                       189 non-null    int64
 3   arrival_date_year               189 non-null    int64
 4   arrival_date_month              189 non-null    int64
 5   arrival_date_week_number        189 non-null    int64
 6   arrival_date_day_of_month       189 non-null    int64
 7   arrival                         189 non-null    datetime64[ns]
 8   stays_in_weekend_nights         189 non-null    int64
 9   stays_in_week_nights            189 non-null    int64
 10  adults                          189 non-null    int64
 11  children                        189 non-null    float64
 12  babies                          189 non-null    int64
 13  meal                            189 non-null    object
 14  country                         189 non-null    object
 15  market_segment                  189 non-null    object
 16  distribution_channel            189 non-null    object
 17  is_repeated_guest               189 non-null    int64
 18  previous_cancellations          189 non-null    int64
 19  previous_bookings_not_canceled  189 non-null    int64
 20  reserved_room_type              189 non-null    object
 21  assigned_room_type              189 non-null    object
 22  booking_changes                 189 non-null    int64
 23  deposit_type                    189 non-null    object
 24  agent                           189 non-null    float64
 25  company                         189 non-null    float64
 26  days_in_waiting_list            189 non-null    int64
 27  customer_type                   189 non-null    object
 28  adr                             189 non-null    float64
 29  required_car_parking_spaces     189 non-null    int64
 30  total_of_special_requests       189 non-null    int64
 31  reservation_status              189 non-null    object
 32  reservation_status_date         189 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(17), object(10)
memory usage: 50.2+ KB

In [93]:
# mengubah tipe data dari kolom arrival menjadi date
clean_df['arrival'] = pd.to_datetime(clean_df['arrival'], format='%Y/%m/%d')

In [95]:
# mengubah tipe data kolom reevation_status_data jadi date
clean_df['reservation_status_date'] = pd.to_datetime(clean_df['reservation_status_date'], format='%d/%m/%Y')

In [114]:
clean_df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,arrival,stays_in_weekend_nights,stays_in_week_nights,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,visitor
2392,Resort Hotel,0,6,2015,10,42,11,2015-10-11,2,0,...,240.0,113.0,0,Transient,82.0,1,1,Check-Out,2015-10-13,2.0
2697,Resort Hotel,0,24,2015,10,44,26,2015-10-26,7,15,...,185.0,281.0,0,Transient-Party,52.2,0,0,Check-Out,2015-11-17,1.0
2867,Resort Hotel,0,24,2015,11,45,3,2015-11-03,0,3,...,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-06,2.0
2877,Resort Hotel,0,24,2015,11,45,3,2015-11-03,2,10,...,328.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,2015-11-15,1.0
2878,Resort Hotel,0,24,2015,11,45,3,2015-11-03,3,10,...,326.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-16,2.0
2879,Resort Hotel,0,24,2015,11,45,3,2015-11-03,3,10,...,326.0,281.0,0,Transient,48.0,0,0,Check-Out,2015-11-16,2.0
2880,Resort Hotel,0,24,2015,11,45,3,2015-11-03,3,10,...,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,2015-11-16,2.0
2881,Resort Hotel,0,24,2015,11,45,3,2015-11-03,3,10,...,328.0,281.0,0,Transient,40.0,0,0,Check-Out,2015-11-16,1.0
2883,Resort Hotel,0,24,2015,11,45,3,2015-11-03,3,10,...,334.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,2015-11-16,1.0
2884,Resort Hotel,0,24,2015,11,45,3,2015-11-03,3,10,...,334.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,2015-11-16,1.0

In [111]:
# membuat kolom baru total pengunjung
clean_df['visitor'] = clean_df['adults'] + clean_df['children'] + clean_df['babies']

In [112]:
# menampilkan nama kolom dalam dataset
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189 entries, 2392 to 116451
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           189 non-null    object
 1   is_canceled                     189 non-null    int64
 2   lead_time                       189 non-null    int64
 3   arrival_date_year               189 non-null    int64
 4   arrival_date_month              189 non-null    int64
 5   arrival_date_week_number        189 non-null    int64
 6   arrival_date_day_of_month       189 non-null    int64
 7   arrival                         189 non-null    datetime64[ns]
 8   stays_in_weekend_nights         189 non-null    int64
 9   stays_in_week_nights            189 non-null    int64
 10  adults                          189 non-null    int64
 11  children                        189 non-null    float64
 12  babies                          189 non-null    int64
 13  meal                            189 non-null    object
 14  country                         189 non-null    object
 15  market_segment                  189 non-null    object
 16  distribution_channel            189 non-null    object
 17  is_repeated_guest               189 non-null    int64
 18  previous_cancellations          189 non-null    int64
 19  previous_bookings_not_canceled  189 non-null    int64
 20  reserved_room_type              189 non-null    object
 21  assigned_room_type              189 non-null    object
 22  booking_changes                 189 non-null    int64
 23  deposit_type                    189 non-null    object
 24  agent                           189 non-null    float64
 25  company                         189 non-null    float64
 26  days_in_waiting_list            189 non-null    int64
 27  customer_type                   189 non-null    object
 28  adr                             189 non-null    float64
 29  required_car_parking_spaces     189 non-null    int64
 30  total_of_special_requests       189 non-null    int64
 31  reservation_status              189 non-null    object
 32  reservation_status_date         189 non-null    datetime64[ns]
 33  visitor                         189 non-null    float64
dtypes: datetime64[ns](2), float64(5), int64(17), object(10)
memory usage: 51.7+ KB

In [123]:
# membuat status booking
status_bokking = clean_df['is_canceled'].value_counts().rename(index={0:'valid', 1:'non-valid'})
print(f'status booking:\n {status_bokking}')

# reservation_status
category_booking = clean_df['reservation_status'].value_counts()
print(f'\ncategory booking:\n {category_booking}')

# menghitung nilai booking berdasarkan jenis hotel
booking_value_by_hotel = clean_df.groupby('hotel')['adr'].agg(['mean','sum','count'])
print(f'\nnilai booking bedasarkan jenis hotel:\n {booking_value_by_hotel}')

status booking:
 is_canceled
valid        173
non-valid     16
Name: count, dtype: int64

category booking:
 reservation_status
Check-Out    173
Canceled      12
No-Show        4
Name: count, dtype: int64

nilai booking bedasarkan jenis hotel:
                     mean      sum  count
hotel
City Hotel    107.730769  4201.50     39
Resort Hotel   53.643267  8046.49    150

In [117]:
# membuat summary sederhana
summary = clean_df.agg({
    'is_canceled': ['mean', 'sum', 'std'],
    'adr' : ['mean', 'sum', 'std'],
    'visitor': ['mean', 'sum', 'std']
})
print(f"summary data:\n {summary}")

summary data:
       is_canceled           adr     visitor
mean     0.084656     64.804180    1.465608
sum     16.000000  12247.990000  277.000000
std      0.279109     40.186506    0.623248

# Visualisasi